.description_of_img_1{
	float: right;
}
.cat_products_1{
	float: left;
}
.text_1{
	width: 190px;
	height: 61px;
	font-weight: bold;
	font-size: 16px;
}
.red_text{
	color: red;
}
.buy_button{
	width: 128px;
	height: 38px;
	background-color: #0DD215;
	border-radius: 10px;
}

.card_cats_1{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 120px;
	width: 330px;
	height: 64px;
}

.cat_div{
	/*width: 1075px;
	height: 374px;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.content_catalog{
    display: block;
}